@use "~@wordpress/base-styles/variables" as wp-vars;
@use "../variables" as *;

.newspack-rolling-coverage-ai-settings {
	max-width: 1006px;
	margin: 0 auto;
	padding: 24px;
	padding-top: wp-vars.$grid-unit-20;
}

.newspack-rolling-coverage-ai-settings__field--over-limit {

	.components-base-control__field textarea {
		border-color: $nrc-color-error;
	}

	.components-base-control__help {
		color: $nrc-color-error;
		font-weight: 600;
	}
}
