// Colors
$nrc-color-background: #fff;
$nrc-color-error: #d63638;
$nrc-color-border: #ddd;
$nrc-color-chip-bg: #f0f0f0;
$nrc-color-chip-bg-hover: #e0e0e0;
$nrc-color-chip-text: #1e1e1e;
$nrc-color-chip-remaining: #757575;

// Spacing
$nrc-spacing-xs: 2px;
$nrc-spacing-sm: 3px;
$nrc-spacing-md: 8px;
$nrc-spacing-lg: 16px;
$nrc-spacing-xl: 20px;

// Typography
$nrc-font-sm: 12px;
